div{
    float: left;
    width: 100%px;
}
.div1{
    background-color: red;
    float: left;
    width: 33%;
}
.div2{
    background-color: yellow;
    float: left;
    width: 33%;
}
.div3{
    background-color: green;
    float: left;
    width: 33%;
}
.box{
    background-color: blue;
    border: 1px solid black;
    float:left;
    height: 300px;
    width: 200px;
}