body{
    background-color: #262737;
    color: white;
}
.box{
    border: 1px solid #4caf50;
    padding: 70px;
}
article h1{
    text-align: center;

}
article p{
    text-align: justify;
}
article .boxPadding{
    border: 1px solid yellowgreen;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
footer .boxPaddin{
    border:1px solid greenyellow;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 75px;
    padding-left: 100px;
}