main{
    width: 1000px;
    height: 350px;
    background-color: grey;
}
aside{
    background-color: red;
    font-size: 15px;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    padding: 50px;
    width: 300px;
    height: 200px;
}
article{
    display: flex;
    justify-content: flex-start;
}
.caixaverde{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.caixaazul{
    display: flex;
    
}
.caixa1{
    background-color: #ADFF2F;
    width: 600px;
    height: 100px;
    color: aliceblue;
    text-align: center;
    margin: 10px;
    padding: auto;
    font-size: 20px;
}

.caixa2{
    background-color: #EE82EE;
    width: 100px;
    height: 80px;
    color: aliceblue;
    text-align: center;
    margin: 10px;
    padding: 50px;
    font-size: 20px;
}
.caixa3{
    background-color: #0000FF;
    width: 380px;
    height: 85px;
    color: aliceblue;
    text-align: center;
    margin: 10px;
    padding: auto;
    font-size: 20px;
}
.caixa4{
    background-color: #0000FF;
    width: 380px;
    height: 85px;
    color: aliceblue;
    text-align: center;
    margin: 10px;
    padding: auto;
    font-size: 20px;
}
