.header{
    border: 1px solid black;
    height: 100px;

}
.nav{
    border: 1px solid green;
    height: 20px;
}
.main{
    border: 1px solid darkgreen;
    height: 600px;
    max-width: 1000px;
    margin: auto;
}
.footer{
    border: 1px solid darkorange;
    height: 20px;
}
.article{
    border: 1px solid rgb(25, 0, 255);
    height:500px;
    margin: 50px 50px;
}
.Aside{

    border: 1px solid rgb(255, 230, 0);
    height:250px;
    margin: 200px 50px 25px 50px;
}